# Python & Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log
.venv
venv/
env/

# Çevre Değişkenleri (ŞİFRELER GİT'E GİTMESİN!)
.env

# İşletim Sistemi ve IDE
.DS_Store
.vscode/
.idea/

# Docker (Eğer volume dosyaları yerelde tutuluyorsa)
postgres_data/