# Python gereksizleri
__pycache__/
*.py[cod]
*$py.class

# Sanal ortam (Yüklenmemeli)
venv/
env/
.env

# Veritabanı (Herkesin kendi DB'si olmalı)
db.sqlite3
*.sqlite3

# Docker veri klasörleri (Yüklenmemeli)
postgres_data/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db